table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}
* {
  margin: 0;
  padding: 0;
}
.mainform {
  text-align: center;
  padding-top: 2rem;
  font-weight: bold;
}
.fname,
.lname,
#flname,
.emailbox {
  height: 2rem;
  width: 13rem;
  margin-bottom: 10px;
  background-color: aliceblue;
  border: 1px solid black;
  font-size: 16px;
  padding: 5px;
}
#flname {
  background-color: rgb(126, 207, 207);
}
.submitbtn {
  height: 2.5rem;
  width: 19rem;
}
.submitbtn:hover {
  background-color: grey;
  color: white;
  border: 1px solid black;
  font-weight: bold;
}
.fileupload {
  font-size: 15px;
  padding: 5px;
  margin-left: 1.7rem;
  width: 13rem;
  margin-bottom: 10px;
  background-color: aliceblue;
  border: 1px solid black;
}
.marksarea {
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: aliceblue;
  padding: 12px;
}
.marksarea::placeholder {
  color: black;
  line-height: 23px;
}

#cont {
  position: relative;
  display: block;
}

#cont::before {
  content: "+91";
  position: absolute;
  top: 6px;
  left: 51rem;
  z-index: 99;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.input1 {
  text-indent: 30px;
  /* min-width: 300px;
  min-height: 150px; */
  font-size: 14px;
  padding: 5px;
  width: 17.8rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  background-color: aliceblue;
  border: 1px solid black;
}
.emailbox {
  margin-bottom: 0;
  width: 15rem;
}
